<h1>Average Number of Each Item Sold in a Week</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @search4s.each do |search4| %>
      <tr>
        <td><%= search4.item_id %></td>
        <td><%= link_to 'Show', search4 %></td>
        <td><%= link_to 'Edit', edit_search4_path(search4) %></td>
        <td><%= link_to 'Destroy', search4, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search4_path %>
