<%= form_for(@search3) do |f| %>
    <% if @search3.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@search3.errors.count, "error") %> prohibited this search3 from being saved:</h2>

          <ul>
            <% @search3.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :item_id %><br>
      <%= f.collection_select :item_id, Item.all , :id, :item_name, prompt: true %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
