<h1>Item Stock Below Minimum</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @search3s.each do |search3| %>
      <tr>
        <td><%= search3.item_id %></td>
        <td><%= link_to 'Show', search3 %></td>
        <td><%= link_to 'Edit', edit_search3_path(search3) %></td>
        <td><%= link_to 'Destroy', search3, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search3_path %>
