<h1>Total Gross Revenue per Item in a Given Time Period</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>S date</th>
      <th>E date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @search2s.each do |search2| %>
      <tr>
        <td><%= search2.item_id %></td>
        <td><%= search2.s_date %></td>
        <td><%= search2.e_date %></td>
        <td><%= link_to 'Show', search2 %></td>
        <td><%= link_to 'Edit', edit_search2_path(search2) %></td>
        <td><%= link_to 'Destroy', search2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search2_path %>
