<%= form_for(@search) do |f| %>
    <% if @search.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

          <ul>
            <% @search.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :item_id %><br>
      <%= f.collection_select :item_id, Item.all , :id, :item_name, prompt: true %>

    </div>
    <div class="field">
      <%= f.label :s_date %><br>
      <%= f.date_select :s_date %>
    </div>
    <div class="field">
      <%= f.label :e_date %><br>
      <%= f.date_select :e_date %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
