<h>Title</h>
<div class="item">
  <%item=@search4.items4%>

  <div class="details">
    <% e = Date.today%>
    <% d=  e - 7%>
    <%a= Sale.where(:item_id => item).average(:amount_sold)%>
    <%b= Item.where(:id => item).sum('price')%>
    <%c= Sale.where("date > #{d}").where("date < #{e}")%>
    <%= "Average Sold: #{a} Price per Item: #{b} For after #{d} and before #{e}" %>







  </div></div>