<h>Title</h>
<div class="item">
  <%item=@search3.items3%>
  <div class="details">

    <% a = Item.where(:id => item).sum('amount')%>
    <% b = Item.where(:id => item).sum('min_amount')%>
    <%= "Current Stock: #{a} Min Stock: #{b}" %>

  </div></div>