<div class="item">

  <div class="details">
    <%i= @search2.items2%>
    <%r= @search2.d_val %>
    <%a=  Sale.where(:item_id => r).sum('amount_sold')%>
    <%b = Item.where(:id => 1).sum('price')%>
    <%= a*b%>
  </div></div>



