<%= form_for(@sale) do |f| %>
    <% if @sale.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

          <ul>
            <% @sale.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :item_id %><br>
      <%= f.collection_select :item_id, Item.all , :id, :item_name, prompt: true %>
    </div>
    <div class="field">
      <%= f.label :sale_date %><br>
      <%= f.date_select :sale_date %>
    </div>
    <div class="field">
      <%= f.label :amount_sold %><br>
      <%= f.number_field :amount_sold %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
