<h1>Listing Sales</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Sale Date</th>
      <th>Amount sold</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.item_id %></td>
        <td><%= sale.sale_date %></td>
        <td><%= sale.amount_sold %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
