<h>Sales</h>
<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @sale.item_id %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @sale.sale_date %>
</p>

<p>
  <strong>Amount sold:</strong>
  <%= @sale.amount_sold %>
</p>

<%= link_to 'Sale Successful, please update inventory', items_path %>
<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
