<!DOCTYPE html>
<html>
<head>
  <title>Inventory_Mgmt_Jason_March20</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Inventory Management </h1>
<%=link_to "Inventory",items_path %><br><br>
<%=link_to "Sale",sales_path %><br><br>
<%=link_to "Search for Items Sold in a Given Time Period",searches_path %><br><br>
<%=link_to "Total Gross Revenue for a Given Time Period",search2s_path %><br><br>
<%=link_to "Item Stock Below Minimum Allowed Level",search3s_path %><br><br>
<%=link_to "Average Number of Items Sold per Week",search4s_path %><br><br>
<%= yield %>
<hr/>
<h3>Copyright 2014 - Jason Halter</h3>

</body>
</html>
